body{
    background-color: var(--site-1PC);
    margin: 0;
    height: 4000px;
    overflow-x: hidden;
}
    :root{
        --site-1PC: #000000;
        --site-Glare2PC: #101010;
        --site-borders: #ffffff;
        --light-font: Light;
        --bold-font: Bold;
        --lightItal-font: LightItal;
    }
.title1{
    position: relative;
    color: #ffffff;
    top: 130px;
    text-align: center;
}
    .title1 div{
        text-align: center
    }
    .title1 h4{
        font-family: var(--bold-font);
        font-size: 150px;
    }
    .title1 p:nth-child(2){
        position: relative;
        top: -400px;
        font-size: 20px;
        font-family: var(--lightItal-font);
    }
    .title1 p:nth-child(3){
        position: relative;
        top: -240px;
        display: flex;
        justify-self: center;
        font-size: 20px;
        max-width: 600px;
        font-family: var(--lightItal-font);
    }
    .title1::before{
        content: '';
        position: relative;
        top: 540px;
        display: flex;
        justify-self: center;
        left: 0;
        background-color: #fff;
        width: 800px;
        height: 1px;
    }
.info-cards{
    position: relative;
    top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 600px;
}
    .i-card-content{
        color: #ffffff;
    }
        .i-card-content h4{
            font-size: 40px;
            text-align: center;
            font-family: var(--bold-font);
        }
        .i-card-content a{
            color: #ffffff;
            text-decoration: none;
            font-family: var(--light-font);
        }
        .i-card-content p{
            font-family: var(--light-font);
            font-size: large;
        }
        .i-card-content .github::before{
            content: '';
            width: 20px;
            height: 20px;
            background: url(/assets/images/github-mark-white.png) no-repeat;
            background-size: contain;
            float: left;
            margin-right: 10px;
        }
        .i-card-content .email::before{
            content: '';
            width: 20px;
            height: 20px;
            background: url(/assets/images/mail_40dp_E3E3E3_FILL0_wght400_GRAD0_opsz40.png) no-repeat;
            background-size: contain;
            float: left;
            margin-right: 10px;
        }
        .i-card-content .home::before{
            content: '';
            width: 20px;
            height: 20px;
            background: url(/assets/images/apartment_40dp_E3E3E3_FILL0_wght400_GRAD0_opsz40.png) no-repeat;
            background-size: contain;
            float: left;
            margin-right: 10px;
        }
.scene{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1300px;
    background:black;
    z-index: -12;
}
    .scene i{
        position: absolute;
        background: #fff;
        border-radius: 50%;
        animation: stars 2s infinite ease-in-out;
    }
    .scene::before{
        content: '';
        position: absolute;
        inset: 25% 10% 25% 10%;
        border-radius: 30%;
        filter: blur(200px) grayscale(0.2);
        opacity: 0.5;
        background-image: linear-gradient(to right,rgb(53, 56, 204),rgb(21, 139, 143)80%);
    }


    
.project-section{
    position: relative;
    top: -300px;
}
    .project-text{
        text-align: center;
        color: #ffffff;
        font-family: var(--light-font);
    }
        .line2{
            position: relative;
            top: 0px;
            height: 1px;
            background: #ffffff;
            border-radius: 5px;
            margin: 50px 1050px 0 1050px;
        }
    .project-showcase{
        display: flex;
        flex-direction: row;
        justify-self: center;
        flex-wrap: wrap;
        position: relative;
        top: 100px;
        gap: 120px;
    }
        .project-showcase .project-cards{
            width: 470px;
            height: 640px;
            border-radius: 20px;
        }
            #p-card1{
                transform: perspective(1000px)rotateY(-30deg)translateZ(-230px);
                transition: 1s;
            }
            #p-card2{
                transform: perspective(1000px)rotateY(-10deg);
                transition: 1s;
            }
            #p-card3{
                transform: perspective(1000px)rotateY(10deg);
                transition: 1s;
            }
            #p-card4{
                transform: perspective(1000px)rotateY(30deg)translateZ(-230px);
                transition: 1s;
            }

            #p-card1:hover{
                transform: rotateY(0)translateZ(0)scale(1.1);
            }
            #p-card2:hover{
                transform: rotateY(0)translateZ(0)scale(1.1);
            }
            #p-card3:hover{
                transform: rotateY(0)translateZ(0)scale(1.1);
                
            }
            #p-card4:hover{
                transform: rotateY(0)translateZ(0)scale(1.1);
                height: 1000px;
            }
.skill-cards{
    position: relative;
    justify-content: center;
    top: 1310px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 200px;
}
    .skill-cards .card{
        text-align: center;
        width: 400px;
        height: 500px;
        border-radius: 20px;
        color: #fff;
        font-family: var(--light-font);
        transform-style: preserve-3d;
        transform: perspective(1000px);
        box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.26);
    }
        #card1{
            background-image: linear-gradient(-125deg,var(--site-1PC),var(--site-Glare2PC));
        }
        #card2{
            background-image: linear-gradient(125deg,var(--site-1PC),var(--site-Glare2PC));
        }
        #card3{
            background-image: linear-gradient(-45deg,var(--site-1PC),var(--site-Glare2PC));
        }
        #card4{
            background-image: linear-gradient(45deg,var(--site-1PC),var(--site-Glare2PC));
        }
        .card-content{
            transform: translateZ(30px);
        }
        .skill-bars{
            position: relative;
            top: 200px;
        }
        /*KARTA 1*/
        .skill-cards .card .c1{
            position: relative;
            display: flex;
            justify-self: center;
            top: 50px;
            border-radius: 10px;
            background: #0c0c0c;
            border: 1px solid var(--site-borders);
            width: 300px;
            height: 20px;
        }
            .skill-cards .card .c1::before{
                content: '';
                background-color: #fff;
                width: 150px;
                border-radius: 10px;
            }
            .skill-cards .card .c1::after{
                content: 'Zkušenost';
                position: absolute;
                top: -24px;
            }
        .skill-cards .card .c2{
            position: relative;
            display: flex;
            justify-self: center;
            top: 80px;
            border-radius: 10px;
            background: #0c0c0c;
            border: 1px solid var(--site-borders);
            width: 300px;
            height: 20px;
        }
            .skill-cards .card .c2::before{
                content: '';
                background-color: #fff;
                width: 140px;
                border-radius: 10px;
            }
            .skill-cards .card .c2::after{
                content: 'Pochopení';
                position: absolute;
                top: -24px; 
            }
        /*KONEC KARTY 1*/
        /*Karta 2*/
        .skill-cards .card .c3{
            position: relative;
            display: flex;
            justify-self: center;
            top: 50px;
            border-radius: 10px;
            background: #0c0c0c;
            border: 1px solid var(--site-borders);
            width: 300px;
            height: 20px;
        }
            .skill-cards .card .c3::before{
                content: '';
                background-color: #fff;
                width: 100px;
                border-radius: 10px;
            }
            .skill-cards .card .c3::after{
                content: 'Zkušenost';
                position: absolute;
                top: -24px;
            }
        .skill-cards .card .c4{
            position: relative;
            display: flex;
            justify-self: center;
            top: 80px;
            border-radius: 10px;
            background: #0c0c0c;
            border: 1px solid var(--site-borders);
            width: 300px;
            height: 20px;
        }
            .skill-cards .card .c4::before{
                content: '';
                background-color: #fff;
                width: 80px;
                border-radius: 10px;
            }
            .skill-cards .card .c4::after{
                content: 'Pochopení';
                position: absolute;
                top: -24px; 
            }
        /*KONEC KARTY 2*/
        /* KARTA 3*/
        .skill-cards .card .c5{
            position: relative;
            display: flex;
            justify-self: center;
            top: 50px;
            border-radius: 10px;
            background: #0c0c0c;
            border: 1px solid var(--site-borders);
            width: 300px;
            height: 20px;
        }
            .skill-cards .card .c5::before{
                content: '';
                background-color: #fff;
                width: 220px;
                border-radius: 10px;
            }
            .skill-cards .card .c5::after{
                content: 'Zkušenost';
                position: absolute;
                top: -24px;
            }
        .skill-cards .card .c6{
            position: relative;
            display: flex;
            justify-self: center;
            top: 80px;
            border-radius: 10px;
            background: #0c0c0c;
            border: 1px solid var(--site-borders);
            width: 300px;
            height: 20px;
        }
            .skill-cards .card .c6::before{
                content: '';
                background-color: #fff;
                width: 200px;
                border-radius: 10px;
            }
            .skill-cards .card .c6::after{
                content: 'Pochopení';
                position: absolute;
                top: -24px; 
            }
        /*KONEC KARTY 3*/
        /* KARTA 4*/
        .skill-cards .card .c7{
            position: relative;
            display: flex;
            justify-self: center;
            top: 50px;
            border-radius: 10px;
            background: #0c0c0c;
            border: 1px solid var(--site-borders);
            width: 300px;
            height: 20px;
        }
            .skill-cards .card .c7::before{
                content: '';
                background-color: #fff;
                width: 20px;
                border-radius: 10px;
            }
            .skill-cards .card .c7::after{
                content: 'Zkušenost';
                position: absolute;
                top: -24px;
            }
        .skill-cards .card .c8{
            position: relative;
            display: flex;
            justify-self: center;
            top: 80px;
            border-radius: 10px;
            background: #0c0c0c;
            border: 1px solid var(--site-borders);
            width: 300px;
            height: 20px;
        }
            .skill-cards .card .c8::before{
                content: '';
                background-color: #fff;
                width: 20px;
                border-radius: 10px;
            }
            .skill-cards .card .c8::after{
                content: 'Pochopení';
                position: absolute;
                top: -24px; 
            }
        /*KONEC KARTY 4*/











html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: #808080;
    
}

::-webkit-scrollbar-thumb:hover {
    background: #555555;
}
@font-face {
    font-family: Bold;
    src: url(/assets/fonts/Satoshi-Bold.otf);
}
@font-face {
    font-family: Light;
    src: url(/assets/fonts/Satoshi-Light.otf);
}
@font-face {
    font-family: luxus;
    src: url(/assets/fonts/Kalam-Light.ttf);
}
@font-face {
    font-family: LightItal;
    src: url(/assets/fonts/Satoshi-LightItalic.otf);
}
@keyframes stars {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    10%,90%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-100px);
    }
}
@keyframes fallingstar {
    0% {
        opacity: 0;
        transform: rotateZ(-30deg) translateX(1000px);
    }
    30%,70%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(200px) rotateZ(-30deg);
    }
}