body{
    background-color: var(--site-1PC);
    margin: 0;
    height: 4000px;
    overflow-x: hidden;
}
    :root{
        --site-1PC: #000000;
        --site-Glare2PC: #101010;
        --site-borders: #ffffff;
        --light-font: Light;
        --bold-font: Bold;
        --lightItal-font: LightItal;
    }
.title1{
    position: relative;
    color: #ffffff;
    top: 130px;
    text-align: center;
}
    .title1 div{
        text-align: center
    }
    .title1 h4{
        font-family: var(--bold-font);
        font-size: 120px;
    }
    .title1 p:nth-child(2){
        position: relative;
        top: -320px;
        font-size: 20px;
        font-family: var(--lightItal-font);
    }
    .title1 p:nth-child(3){
        position: relative;
        top: -200px;
        display: flex;
        justify-self: center;
        font-size: 20px;
        max-width: 600px;
        font-family: var(--lightItal-font);
    }
    .title1::before{
        content: '';
        position: relative;
        top: 460px;
        display: flex;
        justify-self: center;
        left: 0;
        background-color: #fff;
        width: 800px;
        height: 1px;
    }
.info-cards{
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 900px;
}
    .i-card-content{
        color: #ffffff;
    }
        .i-card-content h4{
            font-size: 40px;
            text-align: center;
            font-family: var(--bold-font);
        }
        .i-card-content a{
            color: #ffffff;
            text-decoration: none;
            font-family: var(--light-font);
            font-size: 18px;
        }
        .i-card-content p{
            font-family: var(--light-font);
            font-size: 18px;
        }
        .i-card-content .github::before{
            content: '';
            width: 20px;
            height: 20px;
            background: url(/assets/images/github-mark-white.png) no-repeat;
            background-size: contain;
            float: left;
            margin-right: 10px;
        }
        .i-card-content .email::before{
            content: '';
            width: 20px;
            height: 20px;
            background: url(/assets/images/mail_40dp_E3E3E3_FILL0_wght400_GRAD0_opsz40.png) no-repeat;
            background-size: contain;
            float: left;
            margin-right: 10px;
        }
        .i-card-content .home::before{
            content: '';
            width: 20px;
            height: 20px;
            background: url(/assets/images/apartment_40dp_E3E3E3_FILL0_wght400_GRAD0_opsz40.png) no-repeat;
            background-size: contain;
            float: left;
            margin-right: 10px;
        }
.scene{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1300px;
    background:black;
    z-index: -12;
}
    .scene i{
        position: absolute;
        background: #fff;
        border-radius: 50%;
        animation: stars 2s infinite ease-in-out;
    }
    .scene::before{
        content: '';
        position: absolute;
        inset: 25% 10% 25% 10%;
        border-radius: 30%;
        filter: blur(200px) grayscale(0.2);
        opacity: 0.5;
        background-image: linear-gradient(to right,rgb(53, 56, 204),rgb(21, 139, 143)80%);
    }


    
.project-section{
    position: relative;
    top: 300px;
}
    .project-text h1{
        text-align: center;
        color: #ffffff;
        font-size: 40px;
        font-family: var(--bold-font);
    }
    .project-text p{
        text-align: center;
        color: #ffffff;
        font-family: var(--light-font);
        font-size: 18px;
    }
    .project-text::before{
        content: '';
        position: relative;
        height: 1px;
        width: 470px;
        background-color: #ffffff;
        display: flex;
        justify-self: center;
        top: 180px;
    }
    .project-showcase{
        display: flex;
        flex-direction: row;
        justify-self: center;
        flex-wrap: wrap;
        position: relative;
        top: 100px;
        gap: 120px;
    }
        .project-showcase .project-cards{
            width: 370px;
            height: 500px;
            border-radius: 20px;
        }
            #p-card1{
                transform: perspective(1000px)rotateY(-30deg)translateZ(-230px);
                transition: 1s;
            }
            #p-card2{
                transform: perspective(1000px)rotateY(-10deg);
                transition: 1s;
            }
            #p-card3{
                transform: perspective(1000px)rotateY(10deg);
                transition: 1s;
            }
            #p-card4{
                transform: perspective(1000px)rotateY(30deg)translateZ(-230px);
                transition: 1s;
            }
            #p-card1:hover{
                transform: rotateY(0)translateZ(0)scale(1.1);
            }
            #p-card2:hover{
                transform: rotateY(0)translateZ(0)scale(1.1);
            }
            #p-card3:hover{
                transform: rotateY(0)translateZ(0)scale(1.1);
            }
            #p-card4:hover{
                transform: rotateY(0)translateZ(0)scale(1.1);
                height: 800px;
            }
.experience-section{
    position: relative;
    top: 600px;
    color: #ffffff;
}
    .experience-section h1{
        text-align: center;
        font-size: 40px;
        font-family: var(--bold-font);
    }
    .experience-section .exp-undertitle{
        text-align: center;
        font-size: 18px;
        font-family: var(--light-font);
    }
    .exp-title::before{
        content: '';
        position: relative;
        top: 180px;
        display: flex;
        justify-self: center;
        height: 1px;
        width: 290px;
        background-color: #ffffff;
    }
    .exp-container{
        position: relative;
        top: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 200px;
    }
    .exp-card{
        width: 380px;
    }
    .exp-card h4{
        font-size: 30px;
        font-family: var(--bold-font);
    }
    .exp-card p{
        font-size: 20px;
        font-family: var(--light-font);
    }



html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: #808080;
    
}

::-webkit-scrollbar-thumb:hover {
    background: #555555;
}
@font-face {
    font-family: Bold;
    src: url(/assets/fonts/Satoshi-Bold.otf);
}
@font-face {
    font-family: Light;
    src: url(/assets/fonts/Satoshi-Light.otf);
}
@font-face {
    font-family: luxus;
    src: url(/assets/fonts/Kalam-Light.ttf);
}
@font-face {
    font-family: LightItal;
    src: url(/assets/fonts/Satoshi-LightItalic.otf);
}
@keyframes stars {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    10%,90%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-100px);
    }
}
@keyframes fallingstar {
    0% {
        opacity: 0;
        transform: rotateZ(-30deg) translateX(1000px);
    }
    30%,70%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(200px) rotateZ(-30deg);
    }
}
