body{
    background-color: #181818;
    margin: 0;
    height: 130vh;
    overflow-x: hidden;
}
.title1{
    position: absolute;
    color: #fff;
    font-size: 150px;
    left: 5%;
    top: 400px;
    font-family: lex;
    text-shadow: 0 0 60px #9c9c9c;
}
.scene{
    position: absolute;
    width: 100%;
    height: 1000px;
    background-image: linear-gradient(20deg,rgb(19, 37, 116), rgb(2, 8, 26));
    z-index: -11;
}

.scene i{
    position: absolute;
    background: #fff;
    border-radius: 50%;
    animation: stars 2s infinite ease-in-out;
}
.scene a{
    position: absolute;
    background-image: linear-gradient(90deg,white,rgba(255, 255, 255, 0));
    border-radius: 10px;
    box-shadow: 0 0 50px white;
    animation: fallingstar 1s ease-in-out infinite;
}
.section-divider{
    position: absolute;
    top: 900px;
    background: #181818;
    width: 150%;
    height: 200px;
    border-top: 1px solid #3b3b3b;
    transform: rotate(-3deg);
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: #808080;
    
}

::-webkit-scrollbar-thumb:hover {
    background: #555555;
}
@font-face {
    font-family: lex;
    src: url(/assets/fonts/Montserrat-ExtraLight.ttf);
}
@keyframes stars {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    10%,90%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-100px);
    }
}
@keyframes fallingstar {
    0% {
        opacity: 0;
        transform: rotateZ(-30deg) translateX(1000px);
    }
    30%,70%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(200px) rotateZ(-30deg);
    }
}