body{
    background-color: var(--site-1PC);
    margin: 0;
    height: 4000px;
    overflow-x: hidden;
}
    :root{
        --site-1PC: #000000;
        --site-Glare2PC: #101010;
        --site-borders: #ffffff;
        --light-font: Light;
        --bold-font: Bold;
        --lightItal-font: LightItal;
    }
.scene{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1300px;
    background:black;
    z-index: -12;
}
    .scene i{
        position: absolute;
        background: #fff;
        border-radius: 50%;
        animation: stars 2s infinite ease-in-out;
    }
    .scene::before{
        content: '';
        position: absolute;
        inset: 25% 10% 25% 10%;
        border-radius: 30%;
        filter: blur(200px) grayscale(0.2);
        opacity: 0.5;
        background-image: linear-gradient(to right,rgb(53, 56, 204),rgb(21, 139, 143)80%);
    }
.project-holder{
    position: relative;
    top: 200px;
}
.projects-text{
    color: #ffffff;
    font-family: var(--bold-font);
    font-size: 40px;
    text-align: center;
}
.projects{
    position: relative;
    top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 0 200px 0 200px;
}
.projects img{
    border-radius: 20px;
    width: 470px;
    height: 640px;
}










html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: #808080;
    
}

::-webkit-scrollbar-thumb:hover {
    background: #555555;
}
@font-face {
    font-family: Bold;
    src: url(/assets/fonts/Satoshi-Bold.otf);
}
@font-face {
    font-family: Light;
    src: url(/assets/fonts/Satoshi-Light.otf);
}
@font-face {
    font-family: luxus;
    src: url(/assets/fonts/Kalam-Light.ttf);
}
@font-face {
    font-family: LightItal;
    src: url(/assets/fonts/Satoshi-LightItalic.otf);
}
@keyframes stars {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    10%,90%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-100px);
    }
}